#textArea::selection {
    background-color: rgb(194, 119, 238);
    color: black;

}


.color-picker-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0;
}

.color-picker {
    border: none;
    padding: 0;
    border-radius: 50%;
}